.blue {
  height: 100px;
  background-color: blue;
  border: 2px solid black;
}

.green {
  height: 25px;
  background-color: green;
  border: 2px solid black;
}

.red {
  height: 150px;
  background-color: red;
  border: 2px solid black;
}

.turquoise {
  height: 150px;
  background-color: turquoise;
  border: 2px solid black;
}

.orange {
  height: 125px;
  background-color: orange;
  border: 2px solid black;
}

footer {
  height: 25px;
  background-color: black;

}
